{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <title>족보한끼</title>
</head>
<body>
<div class="nav-container">
        <a href= "{% url 'home'%}">
            <img class='nav' src='{% static 'img/jb_dark_logo.svg'%}'>
        </a>
        <a  href= "{% url 'j_page'%}">
            <img class='nav' src='{%  static 'img/j_logo.svg'%}'>
        </a>
        <a  href= "{% url 'b_page'%}">
            <img class='nav' src='{% static 'img/b_logo.svg'%} '>
        </a>
</div>
    
    <div class="base_container">
        {% block content %}
        {% endblock %}
        <div class="create_btn">
        <a href={% url 'new_jokbo' %}><img src="{% static 'img/create_btn.png' %}" /></a>
    </div>
    </div>
    <div id='banner'></div>
    <div id='footer'>
        ⓒ 2021. jokbap all rights reserved.
    </div>
</body>
</html>




