{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link type="text/css" rel="stylesheet" href="{% static 'css/jb_page.css'%}">
</head>
    <div class='title-container'> <!--base.css에서 수정-->
        <h1>
            밥한끼
        </h1>
    </div>
    <div class="searchbar">
        <form action="">
            <input class="searchbox" type="text" placeholder="과목명 검색하기">
            <button class="imgbutton" type="submit"><img class='searchimg' src='{% static 'img/search.svg'%}'></button>
        </form>
    </div>
    
    {% for post in posts %}
        <a href="{% url 'bContent' post.id %}">
            <div class='post'>
                <h3>{{post.title}}</h3>
                {{post.summary}}
                <div class='gray'>
                    {{post.pub_date}} | {{post.author}}
                </div>
            </div>
        </a>
        <div class="line"></div>
    {% endfor %} 
    
    <div id="create_btn" >
            <a href={% url 'new_jokbo' %}><img src="{% static 'img/create_btn.png' %}" /></a>
    </div>

{% endblock %}