{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/Content.css'%}">
</head>
<!--프로필 띄우는 부분 css랑 html 수정 필요-->
    <div class="container">
        <div class="flex_row">
            <img id="profile" src="{% static 'img/baby.png' %}">
            <div style="margin-left: 10px;">
                <div class='flex_row' style="align-items: flex-end;">
                    <h3>{{post.author.profile.name}}</h3>
                    <div style="font-size: 10px;" >(족밥 Lv.2)</div>
                </div>
                <div>컴퓨터학부 21학번</div>
            </div>
        </div>

        <div class="content">
            <h2>{{post.title}}</h2>
            <div id="main">
                <div> 
                    <img src="{{post.image.url}}" alt="이미지사진">
                </div>
                <p>
                   {{post.text}}
                </p>
            </div>
        </div>

        <!--댓글 구현 필요-->
        <div class="flex_row" style="justify-content: flex-start;">
            <div class='flex_row' style="align-items: flex-end;">
                <div id="comments_icon">
                    <img class="icons" src="{% static 'img/comments.svg'%}">  23
                </div>
            </div>
            <div class='flex_row' style="align-items: flex-end;">
                <div id="like_icon">
                    <img class="icons" src="{% static 'img/like.svg'%}">  56
                </div>
            </div>
        </div>
    </div>

    <div class="comments">
        <div class="container">
            <div class="flex_row" style="margin-left: 10px;">
                <div id="comment_img">
                <img class="comment_profile" src="{% static 'img/mala.png'%}" alt="chick">
                </div>
                <div id="comment_text">
                    <div class="flex_row" style="margin-bottom: 2px;">
                    <strong>마라마왕탕 </strong>
                    <p> (컴학 16)</p>
                    </div>
                    <p>마라샹궈에 양고기 추가 가능한가요??</p> 
                </div>
            </div>
        </div>
        <div id="line_commentbox"></div>
        <div class="container">
            <div class="flex_row" style="margin-left: 10px;">
                <div id="comment_img">
                <img class="comment_profile" src="{% static 'img/potato.png'%}" alt="chick">
                </div>
                <div id="comment_text">
                    <div class="flex_row" style="margin-bottom: 2px;">
                    <strong>말하는 감자 </strong>
                    <p> (소프트 17)</p>
                    </div>
                    <p>저도 마라샹궈가 좋은데 마라샹궈 댓달아봅니다! <br>친해져요 후배님!</p> 
                </div>
            </div>
        </div>  
    </div>
    

    <div class="NewComment">
            <input id="write_comment" type="text" name="newComment" placeholder="댓글 입력">
            <img id="send_icon" src="{% static 'img/send.svg'%}">
    </div>

    
{% endblock %}