{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/Content.css'%}">
</head>
<!--프로필 띄우는 부분 css랑 html 수정 필요-->
    <div class="container">
        <div class="flex_row">
            <img id='profile' src=
               			 {% if post.author.profile.profileImg%} 
                   		 	"{{post.author.profile.profileImg.url}}"
               			 {% else %}
                    		"{% static 'img/potato.png' %}"
                		 {% endif %}
						 >
            <div style="margin-left: 10px;">
                <div class='flex_row' style="align-items: flex-end;">
                    <h3>{{post.author.profile.name}}</h3>
                    <div style="font-size: 10px;" >(족밥 Lv.8)</div>
                </div>
                <div>소프트웨어학부 17학번</div>
            </div>
        </div>

        <div class="content">
            <h2>{{post.title}}</h2>
            <div id="main">
                <div> 
                    {% comment %} <img src="{{post.image.url}}" alt="이미지사진"> {% endcomment %}
                </div>
                <p>
                    {{post.text}}
                </p>
            </div>
        </div>

        {% if user.id == post.author.id %}
            <a href="{% url 'j_delete' post.id %}"> 삭제하기</a>
        {% endif %}

        <!--댓글 구현-->
        <div class="flex_row" style="justify-content: flex-start;">
            <div class='flex_row' style="align-items: flex-end;">
                <div id="comments_icon">
                    <img class="icons" src="{% static 'img/comments.svg'%}">  68
                </div>
            </div>
            <div class='flex_row' style="align-items: flex-end;">
                <div id="like_icon">
                    <img class="icons" src="{% static 'img/like.svg'%}">  124
                </div>
            </div>
        </div>
    </div>

 
     {% for comment in comments %}
        <div class="comments">
            <div class="container">
                <div class="flex_row" style="margin-left: 10px;">
                    <div id="comment_img">
                        <img id='comment_profile' src=
                            {% if comment.author.profile.profileImg%} 
                                "{{comment.author.profile.profileImg.url}}"
                            {% else %}
                                "{% static 'img/potato.png' %}"
                            {% endif %}
                            >
                    </div>
                    <div id="comment_text">
                        <div class="flex_row" style="margin-bottom: 2px;">
                        <strong>{{comment.author}} </strong>
                        <p> (컴학 16)</p>
                        </div>
                        <p>{{comment.text}}</p> 
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
    <div class="NewComment">
         <form method="POST" action="{% url 'j_newComment' post.id %}">
            {% csrf_token %} 
            <input id="write_comment" type="text" name="newComment" placeholder="댓글 입력">
            <input class="newCommentBtn" type="image" src="{% static 'img/send.svg' %}" value="" alt="제출버튼">
         </form>
    </div>
{% endblock %}