{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/Home.css'%}">
</head>
<body>
    <div class='container'>
        <a href= "{% url 'home'%}">
            <img class='nav' src='{% static 'img/jb_dark_logo.svg'%}'>
        </a>
        <a  href= "{% url 'j_page'%}">
            <img class='nav' src='{%  static 'img/j_logo.svg'%}'>
        </a>
        <a  href= "{% url 'b_page'%}">
            <img class='nav' src='{% static 'img/b_logo.svg'%} '>
        </a>
    </div>
    <div id='line'></div>
    <div class='container'>
        <div class='flex_row'>
            <img id='profile' src='{% static 'img/potato.png'%} '>
            <div style="margin-left: 10px;">
                <div class='flex_row'>
                    <h2>말하는 감자</h2>
                    <div>(족밥 Lv.8)</div>
                </div>
                <div>최다인 / 숭실대학교 소프트웨어학부 17학번</div>
                <a class='yellow'>수정하기</a>
            </div>
        </div>
    </div>
    <div id='line'></div>
    <div class='container'>
        <div class='flex_row space_around'>
            <h2>Best 족</h2>
            <a href="{% url 'j_page' %}"><div class='dark_gray'>더보기></div></a>
        </div>
        <a href='{% url 'Content_Jok' %}'>
            <div class='post_container'>
                <div class='flex_row'>
                    <h3>2021-1 네트워크프로그래밍 족보</h3>
                    <img class="new" src="{% static 'img/new.svg'%}">
                </div>
                직접 작성한 최신 네프 족보 있습니다. 필요하신 분 댓글로 밥 제...<br/>
                <div class='gray'>
                    `5분 전 | 말하는 감자 (소프트 17)
                </div>
                <div class='flex_row' style="justify-content: flex-end;">
                    <div class='flex_row' style="margin-right: 10px;">  
                        <img class='icon' src='{% static 'img/comments.svg' %}'>
                        <div class='yellow'>68</div>
                    </div>
                    <div class='flex_row'>
                        <img class='icon' src='{% static 'img/like.svg '%}'>
                        <div class='yellow'>124</div>
                    </div>
                </div>
            </div>
        </a>
        <a href='{% url 'Content_Jok' %}'>
            <div class='post_container'>
                <h3>2021-1 인공지능 족보</h3>
                이 어마무시한 과목을 듣게 되신 분은 연락주세요...
                <div class='gray'>
                    7분 전 | 마라마왕탕 (컴학 17)
                </div>
                <div class='flex_row' style="justify-content: flex-end;">
                    <div class='flex_row' style="margin-right: 10px;">  
                        <img class='icon' src='{% static 'img/comments.svg'%} '>
                        <div class='yellow'>47</div>
                    </div>
                    <div class='flex_row'>
                        <img class='icon' src='{% static 'img/like.svg'%}'>
                        <div class='yellow'>98</div>
                    </div>
                </div> 
            </div>
        </a>
    </div>
    <div id='line'></div>
    <div class='container'>
        <div class='flex_row space_around'>
            <h2>Best 밥</h2>
            <a href="{% url "b_page" %}"><div class='dark_gray'>더보기></div></a>
        </div>
        <a href='{% url 'Content_Bap' %}'>
            <div class='post_container'>
                <div class='flex_row'>
                    <h3>2020 컴퓨터구조 족보 구합니다</h3>
                    <img class="new" src="{% static 'img/new.svg'%}">
                </div>
                혹시 작년도 이종근 교수님 컴구 족보 있을까요! 밥슐리 선제시 합...
                <div class='gray'>
                    3분 전 | 힘샌애기 (컴학 21)
                </div>
                <div class='flex_row' style="justify-content: flex-end;">
                    <div class='flex_row' style="margin-right: 10px;">  
                        <img class='icon' src='{% static 'img/comments.svg'%}'>
                        <div class='yellow'>23</div>
                    </div>
                    <div class='flex_row'>
                        <img class='icon' src='{% static 'img/like.svg'%}'>
                        <div class='yellow'>56</div>
                    </div>
                </div>
            </div>
        </a>
        <a href='{% url 'Content_Bap' %}'>
            <div class='post_container'>
                <h3>[급구] 년도무관 알고리즘 족보</h3>
                박영훈 교수님 알고리즘 시험 족보 급하게 구합니다! 비싼거 사드...
                <div class='gray'>
                    5분 전 | 코딩햇뱅아 (AI융합 20)
                </div>
                <div class='flex_row' style="justify-content: flex-end;">
                    <div class='flex_row' style="margin-right: 10px;">  
                        <img class='icon' src='{% static 'img/comments.svg'%}'>
                        <div class='yellow'>21</div>
                    </div>
                    <div class='flex_row'>
                        <img class='icon' src='{% static 'img/like.svg'%}'>
                        <div class='yellow'>49</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div id='banner'></div>
    <div id='footer'>
        ⓒ 2021. jokbap all rights reserved.
    </div>
</body>
</html>