{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'css/jb_page.css'%}">
    <title>Jok</title>
</head>

<body>
    <div class='container'>
        <a href= "{% url 'home'%}">
            <img class='nav' src='{% static 'img/jb_dark_logo.svg'%}'>
        </a>
        <a  href= "{% url 'j_page'%}">
            <img class='nav' src='{%  static 'img/j_logo.svg'%}'>
        </a>
        <a  href= "{% url 'b_page'%}">
            <img class='nav' src='{% static 'img/b_logo.svg'%} '>
        </a>
    </div>
    <div class="line"></div>
    <div class='container'>
        <h1>
            족보
        </h1>
    </div>
    <div class="searchbar">
        <form action="">
            <input class="searchbox" type="text" placeholder="과목명 검색하기">
            <button class="imgbutton" type="submit"><img class='searchimg' src='{% static 'img/search.svg'%}'></button>
        </form>
    </div>


    <a href='{% url 'Content_Jok' %}'>

        <div class='post'>
            <h3>2021-1 네트워크프로그래밍 족보</h3>
            🔥직접 작성한 최신 네프 족보있습니다. 필요하신 분 댓글 달아주...
            <div class='gray'>
                5분 전 | 말하는 감자 (소프트 17)
            </div>
        </div>
    </a>
    

    <div class="line"></div>


    <a href='{% url 'Content_Jok' %}'>
        <div class='post'>
            <h3>2021-1 인공지능 족보</h3>
            이 어마무시한 과목을 듣게 되신 분은 연락주세요...
            <div class='gray'>
                7분 전 | 마라마왕탕 (컴학 16)
            </div>
        </div>
    </a>

    <div class="line"></div>


    <a href='{% url 'Content_Jok' %}'>

        <div class='post'>
            <h3>년도무관 알고리즘 족보</h3>
            ㅂㅇㅎ 교수님 알고리즘 시험 족보 급하게 구합니다! 가격 무제한..
            <div class='gray'>
                12분 전 | 일하는 감자 (소프트 17)
            </div>
        </div>
    </a>
    
    <div class="line"></div>


    <a href='{% url 'Content_Jok' %}'>

        <div class='post'>
            <h3>년도무관 알고리즘 족보</h3>
            ㅂㅇㅎ 교수님 알고리즘 시험 족보 급하게 구합니다! 가격 무제한..
            <div class='gray'>
                12분 전 | 일하는 감자 (소프트 17)
            </div>
        </div>
    </a>

    <div class="line"></div>


    <a href='{% url 'Content_Jok' %}'>

        <div class='post'>
            <h3>년도무관 알고리즘 족보</h3>
            ㅂㅇㅎ 교수님 알고리즘 시험 족보 급하게 구합니다! 가격 무제한..
            <div class='gray'>
                12분 전 | 일하는 감자 (소프트 17)
            </div>
        </div>
    </a>

    <div class="line"></div>

    <a href='{% url 'Content_Jok' %}'>
        <div class='post'>
            <h3>년도무관 알고리즘 족보</h3>
            ㅂㅇㅎ 교수님 알고리즘 시험 족보 급하게 구합니다! 가격 무제한..
            <div class='gray'>
                12분 전 | 일하는 감자 (소프트 17)
            </div>
        </div>
    </a>

    <div class="line"></div>


    <a href='{% url 'Content_Jok' %}'>
        <div class='post'>
            <h3>년도무관 알고리즘 족보</h3>
            ㅂㅇㅎ 교수님 알고리즘 시험 족보 급하게 구합니다! 가격 무제한..
            <div class='gray'>
                12분 전 | 일하는 감자 (소프트 17)
            </div>
        </div>
    </a>

    <div class="line"></div>


    <a href='{% url 'Content_Jok' %}'>
        <div class='post'>
            <h3>년도무관 알고리즘 족보</h3>
            ㅂㅇㅎ 교수님 알고리즘 시험 족보 급하게 구합니다! 가격 무제한..
            <div class='gray'>
                12분 전 | 일하는 감자 (소프트 17)
            </div>
        </div>
    </a>

    <div id='footer'>
        ⓒ 2021. jokbap all rights reserved.
    </div>


</body>

</html>