{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--html, CSS 수정 필요 !!-->
    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'css/create.css'%}">
        </style>
    </head>
    <div class='title-container' > <!--base.css에서 수정-->
        <h1>
            밥 작성하기 
        </h1>    
    </div>
    <div id="uploadArea">
         <form  method="post" action="{% url 'upload_bap' %}" enctype="multipart/form-data">
             {%csrf_token%}
             <div class="mb-3">
                 <!-- <label for="formFile" class="form-label"></label> -->
                 <input class="form-control" type="file" name= "image" id="formFile">
             </div>
             <input name="title" class="signup" type="text" placeholder="제목을 입력해주세요 " required>
             <textarea name="text" id="newpost" cols="50" rows="10" required></textarea>
             <button type="submit" class="btn btn-primary">글작성</button>
         </form>
    </div>
 

 {% endblock %}