{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--html, CSS 수정 필요 !!-->
<!-- 일단 newBap 복붙 해놓음 임시방편 -->
   <head>
    <link rel="stylesheet" href="{% static 'css/profile.css'%}">
   </head>
        <div class='profile-container'>
            <div class='flex_row'>
               <img id="profile" src=
                    {% if user.profile.profileImg %} 
                        "{{user.profile.profileImg.url}}"
                    {% else %}
                        "{% static 'img/potato.png' %}"
                    {% endif %}
                    > 
                <div style="margin-left: 10px;" id="profile-name">
                    <div class='flex_row'>
                        <h2>{{user.profile.name}}</h2>
                        <div>(족밥 Lv.8)</div>
                    </div>
                    <div>{{user.profile.intro}}</div> <!--프로필에서 자기소개 설정하는 부분-->
                    <a class='edit_profile' href={% url 'editprofile' %}>프로필 수정하기</a>
                </div>
            </div>
        </div>
    </a>
    
    <div class='container'>
        <div class='flex_row space_around' >
            <h2>매너학점</h2>
            <br>
            <div id="grade">
                <h3>3.8/4.5 </h3>
            </div> 
        </div>
        <div class='flex_row' id="feedback-gage" style="width: auto;">
                    <div class='flex_row' style="margin-right: 10px; float: left;">  
                        <img class='icon' src='{% static 'img/comments.svg' %}'>
                        <div class='yellow'>응답률: 80%</div>
                    </div>
                    <div class='flex_row' style="margin-left: 40px; float: right;" >
                        <img class='icon' src='{% static 'img/like.svg '%}'>
                        <div class='yellow'>또밥률: 89%</div>
                    </div>
        </div>

    </div>
    <div class= 'container'>
        <h2 class="menu">판매 족보 : 10개</h2>
        <h2 class="menu">판매 밥글 : 5개 </h2>
        <h2 class="menu">한끼 횟수 : 20회</h2>
        <h2 class="menu">나의 댓글 : 36개</h2>
        
    </div>

 {% endblock %}