body {
    width: 375px;
    height: 812px;
    padding: 24px;
    padding: 24px;
    padding-top: 15px;
    box-sizing: border-box;
    margin: 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #191919;
  }
  
.nav-container{
    top:0;
    padding-top:15px;
    padding-bottom:15px;
    background-color:white;
    position :fixed;
    width:327px;
    border-bottom:solid 2px #ededed;
}

.create_btn{
    position:fixed;
    bottom:170px;
    left:300px;
}
.create_btn img
{
    width:45px;
    height:45px;
}