@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

body {
  width: 375px;
  height: 812px;
  padding: 24px;
  padding: 24px;
  padding-top: 15px;
  box-sizing: border-box;
  margin: 0px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #191919;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

a:link {
  color: #191919;
  text-decoration: none;
}
a:visited {
  color: #191919;
  text-decoration: none;
}
a:hover {
  color: #191919;
  text-decoration: underline;
}
.profile-container{
  padding-top:70px;
  padding-bottom:15px;
  box-sizing: border-box;
  border-bottom:solid 2px #ededed;
}
.container {
  
  padding-top: 10px;
  padding-bottom: 15px;
  box-sizing: border-box;
}

.post_container {
  padding-top: 15px;
  box-sizing: border-box;
}


.flex_row {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}

.space_around {
  justify-content: space-between;
}

.go_profile {
  
  border: solid 2px #ededed;
}

.dark_gray {
  color: #999999;
}

.gray {
  color: #dbdbdb;
}

.icon {
  width: 12px;
}

.new {
  width: 20px;
  margin-left: 5px;
}

#line {
  height: 2px;
  width: 100%;
  background-color: #ededed;
}

#profile {
  width: 60px;
  height:60px;
}


