@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

.nav {
  width: 45px;
  margin-right: 30px;
}

body {
  width: 375px;
  height: 812px;
  padding: 24px;
  padding: 24px;
  padding-top: 15px;
  box-sizing: border-box;
  margin: 0px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #191919;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

a:link {
  color: #191919;
  text-decoration: none;
}
a:visited {
  color: #191919;
  text-decoration: none;
}
a:hover {
  color: #191919;
  text-decoration: underline;
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
}

.searchbar {
  width: 327px;
  height: 45px;
  padding-left: 5px;
  background-color: #f1f1f5;
  display: flex;
  flex-flow: row;
  box-sizing: border-box;
}

.searchbox {
  width: 290px;
  height: 35px;
  color: #999999;
  background-color: #f1f1f5;
  border: 0px none;
  box-sizing: border-box;
}

.searchimg {
  width: 15px;
  height: 15px;
  margin-top: 15px;
  box-sizing: border-box;
}

.imgbutton {
  border: 0px none;
  padding: 0;
}

.post {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 327px;
  height: 56px;
}

.line {
  height: 2px;
  width: 100%;
  background-color: #ededed;
}

.title {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sub {
  display: flex;
  flex-flow: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#footer {
  text-align: center;
  color: #dbdbdb;
  padding-top: 15px;
  padding-bottom: 30px;
}

.gray {
  color: #dbdbdb;
}
