{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link href="{% static 'css/signup.css'%}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class='container'>
        <a href=''>
            <img class='nav' src='{% static 'img/jb_logo.svg'%}'>
        </a>
    </div>
    <div class="line"></div>
    <div class='container'>
        <div class="maintext">
            <h1>족보한끼</h1>
            <h5>회원가입</h5>
        </div>
        <br>
    </div>
    <div class='container'>
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %} 
            <select class="univ_select">
                <option value="0">학교를 입력해주세요.</option>
                <option value="1">서울대학교</option>
                <option value="2">연세대학교</option>
                <option value="3">고려대학교</option>
                <option value="4">서강대학교</option>
                <option value="5">성균관대학교</option>
                <option value="6">한양대학교</option>
                <option value="7">중앙대학교</option>
                <option value="8">경희대학교</option>
                <option value="9">한국외국어대학교</option>
                <option value="10">서울시립대학교</option>
                <option value="13">홍익대학교</option>
                <option value="11">건국대학교</option>
                <option value="12">동국대학교</option>
                <option  value="14">숭실대학교</option>
            </select> <br>
            <input name="phoneNum" class="signup" type="text" placeholder="전화번호를 입력해주세요. " required>
            <input name="username" class="signup" type="text" placeholder="사용하실 닉네임을 입력해주세요." required>           
            <input name="userID" class="signup" type="text" placeholder="아이디를 입력해주세요." required>
            <input name="password" class="signup" type="password" placeholder="비밀번호를 입력해주세요." required>
            <input name="check_password" class="signup" type="password" placeholder="비밀번호를 다시 입력해주세요." required>
            <input class="signup_button" type="submit" value="회원가입">


        </form>
    </div>
  
</body>
</html>